#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.add_todo {
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}
.add_todo input {
  width: 80%;
  padding: 10px 20px;
}

.add_todo button {
  width: 20%;
}

.todo {
  background-color: lightblue;
  margin: 1em;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  background-color: rgb(246, 49, 49);
  padding: 10px;
  border-radius: 12px;
}
