:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.add_btn {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(173, 216, 230, 0.452);
  cursor: pointer;
  transition: border-color 0.25s;
}
.add_btn:hover,
.todo_btn:hover {
  transform: scale(1.03);
  transition: 200ms all ease-in-out;
}
button,
.add_btn:focus,
button,
.add_btn:focus-visible {
  transform: scale(0.95);
  transition: 200ms all ease-in-out;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.add_todo {
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  /* border: 2px solid grey; */
  border-radius: 8px;
  padding: 2px;
  box-shadow: 14px 14px 30px -1px rgba(0, 0, 0, 0.6);
  margin-bottom: 2em;
}
.add_todo input {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px 20px;
}

.add_todo button {
  width: 20%;
  padding: 0.5em 1.2em;
}

.todo {
  background-color: rgba(173, 216, 230, 0.452);
  margin: 1em auto;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo div {
  display: flex;
  align-items: center;
}

.todo_name {
  font-size: 1.1em;
}

.todo_btn {
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 40px;
}

.delete {
  color: red;
}

.completed {
  text-decoration: line-through;
}

.clear_btn {
  padding: 8px 15px;
  border-radius: 8px;
  background-color: rgba(173, 216, 230, 0.452);
}
.clear_btn:focus-visible {
  transform: scale(0.95);
}

.edit_input {
  border: none;
  outline: none;
  font-size: 1.1em;
  /* background-color: transparent; */
}
